@import "./base.css";

@font-face {
  src: url("src/assets/fonts/Alata-Regular.ttf") format("truetype");
  font-family: "Alata";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("src/assets/fonts/Lekton-Regular.ttf") format("truetype");
  font-family: "Lekton";
  font-weight: normal;
  font-style: normal;
}

@media (hover: hover) {
  a:hover {
    color: var(--primary-color-hover);
  }
}
